
@{
    ViewBag.Title = "LogisticsIssuePage";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script language="javascript" type="text/javascript">

    window.history.forward();
    $(document).ready(function () {
        $('#myTable').dataTable({
            pageLength: 5,
        });
    });
</script>

@if (Session["UserName"] != null)
{


    @section LogisticsIssuesList {

        <style>
            .centered {
                position: fixed;
                top: 40%;
                left: 50%;
                /* bring your own prefixes */
                /* transform: translate(-50%, -50%);*/
            }

            div.IssueSel {
                border-style: solid;
                border-color: #b3d7ff;
            }
        </style>

        <h2>Logistics Issue Status</h2>
        <table id="myTable" class="table table-bordered table-striped" style="width: 100%" border="1">
            <tr><th>Issue ID</th><th>Building</th><th>Lab No</th><th>PC No</th><th>Problem Type</th><th>Date</th><th>Recieved Time</th><th>Priority</th><th>Status</th><th>Comments</th><th>Action</th></tr>
            @foreach (var std in ViewData["LogIssues"] as IList<ExamTeamManagementSystem.Models.LogisticsIssue>)
            {
                <tr><td>@std.LogisticsIssueID</td><td>@std.BuildingNo</td><td>@std.LabNo</td><td>@std.PCNo</td><td>@std.ProblemType</td><td>@std.Date_Log</td><td>@std.Time_Log</td><td>@std.Priority</td><td>@std.Status</td><td>@std.Comments</td><td><input id="Button1" type="button" onclick="location.href='@Url.Action("LogisticsissueUpdate", "LogisticsSupportTeam", new { id = std.LogisticsIssueID })'" value="Action" /></td></tr>
            }
        </table>
        <table style="width:100%;">
            <tr>
                <td>
                    &nbsp;
                    <div class="IssueSel form-group">

                        <table style="width:20%;">
                            <tr><td><input id="Button1" type="button" onclick="location.href='/LogisticsSupportTeam/LogisticsHomePage'" value="Back" /></td></tr>
                            <tr>
                                <td><input id="Button3" type="button" onclick="location.href='@Url.Action("LogOutAction", "ExamTeam")'" value="LogOut" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    }
}
else
{
    < h2 > User Logged Out</ h2 >
}
