
@{
    ViewBag.Title = "ITTechnicalIssuePage";
    Layout = "~/Views/Shared/_layout.cshtml";
}



@section TechnicalIssuesList {

    <style>
        .centered {
            position: fixed;
            top: 40%;
            left: 50%;
            /* bring your own prefixes */
            /* transform: translate(-50%, -50%);*/
        }
    </style>

    <h2>Technical Issue Status</h2>
    <table style="width:100%;" border="1">
        <tr><th>Issue ID</th><th>Building</th><th>Lab No</th><th>PC No</th><th>Problem Type</th><th>Date</th><th>Recieved Time</th><th>Priority</th><th>Status</th><th>Action</th></tr>
        @foreach (var std in ViewData["TechIssues"] as IList<ExamTeamManagementSystem.Models.TechnicalIssue>)
        {
            <tr><td>@std.TechnicalIssueID</td><td>@std.BuildingNo</td><td>@std.LabNo</td><td>@std.PCNo</td><td>@std.ProblemType</td><td>@std.Date_Tech</td><td>@std.Time_Tech</td><td>@std.Priority</td><td>@std.Status</td><td><input id="Button1" type="button" onclick="location.href='@Url.Action("ITTechnicalissueUpdate", "ITUnitTeam", new { id = std.TechnicalIssueID })'" value="Action" /></td></tr>
        }
    </table>
    <table style="width:100%;">
        <tr>
            <td>
                &nbsp;
                <div class="IssueSel form-group">

                    <table style="width:20%;">
                        <tr><td><input id="Button1" type="button" onclick="location.href='/ExamTeam/ITHomePage'" value="Back" /></td></td></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

}